@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
}

:root{
    --cor-primaria: #1A120B;
    --cor-secundaria: #3C2A21;
    --cor-terciaria: #D5CEA3;
    --cor-clara: white;
    --cor-escura: #1a1a1a;
    --fonte-principal: 'Poppins', sans-serif;
}


body{
    background-color: var(--cor-escura);
    background-repeat: no-repeat;
}

h1{
    font-family: var(--fonte-principal);
    color: var(--cor-clara);
    font-size: 60pt;
}

h2{
    font-family: var(--fonte-principal);
    color: var(--cor-clara);
    font-size: 40pt;
}

h3{
    font-family: var(--fonte-principal);
    color: var(--cor-clara);
    font-size: 30pt;
}


p{
    font-family: var(--fonte-principal);
    color: var(--cor-clara);
    font-size: 20pt;
    text-decoration: none;
}

m{
    font-family: var(--fonte-principal);
    color: var(--cor-clara);
    font-size: 15pt; 
}

.cabecalho{
    align-items: center;
    background-color: var(--cor-primaria);
    padding-top: 10pt;
    padding-bottom: 5pt;
}

.cabecalho__paginas{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-content: space-evenly;
}

.cabecalho__paginas__links{
    text-decoration: none;
}

.produtos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

.janelas__produtos{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    padding: 50px;
    
}

.rodape{
    margin-top: 60px;
    background-color: var(--cor-secundaria);
    border: 1px solid;
    border-color: var(--cor-secundaria)
}

.rodape__conteudo{
    margin: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
